.button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.button-text {
  background-color: transparent;
  color: #006a31;
}

.button-outlined {
  border: 1px solid #006a31;
  color: #006a31;
}

.button-contained {
  background-color: #006a31;
  color: white;
}